In [1]:
import pandas as pd
import datetime as dt

In [2]:
housing_inventory=pd.read_csv("../Resources/Housing_inventory.csv")

C:\Users\laura\anaconda3\envs\PhytonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
housing_inventory.columns.tolist()

['REF_DATE',
 'GEO',
 'DGUID',
 'Completed dwelling units',
 'Type of dwelling unit',
 'UOM',
 'UOM_ID',
 'SCALAR_FACTOR',
 'SCALAR_ID',
 'VECTOR',
 'COORDINATE',
 'VALUE',
 'STATUS',
 'SYMBOL',
 'TERMINATED',
 'DECIMALS']

In [4]:
housing_inventory.dtypes

REF_DATE                     object
GEO                          object
DGUID                        object
Completed dwelling units     object
Type of dwelling unit        object
UOM                          object
UOM_ID                        int64
SCALAR_FACTOR                object
SCALAR_ID                     int64
VECTOR                       object
COORDINATE                   object
VALUE                         int64
STATUS                      float64
SYMBOL                      float64
TERMINATED                   object
DECIMALS                      int64
dtype: object

In [5]:
housing_inventory = housing_inventory.drop(["TERMINATED", "SYMBOL","DECIMALS", "DGUID","STATUS","UOM","UOM_ID","SCALAR_FACTOR","SCALAR_ID","VECTOR","COORDINATE"], axis=1)

In [6]:
housing_inventory.head()

,REF_DATE,GEO,Completed dwelling units,Type of dwelling unit,VALUE
0,1988-06,Census metropolitan areas,Absorptions,Total units,7722
1,1988-06,Census metropolitan areas,Absorptions,Single detached units,7161
2,1988-06,Census metropolitan areas,Absorptions,Semi-detached units,561
3,1988-06,Census metropolitan areas,Unabsorbed inventory,Total units,5694
4,1988-06,Census metropolitan areas,Unabsorbed inventory,Single detached units,4932

In [7]:
housing_inventory["REF_DATE"].astype("datetime64")

0       1988-06-01
1       1988-06-01
2       1988-06-01
3       1988-06-01
4       1988-06-01
           ...
83371   2020-07-01
83372   2020-07-01
83373   2020-07-01
83374   2020-07-01
83375   2020-07-01
Name: REF_DATE, Length: 83376, dtype: datetime64[ns]

In [49]:
housing_inventory = housing_inventory.rename(columns = {"VALUE":"UNIT_VALUE","Type of dwelling unit":"Dwelling_Type","Completed dwelling units":"Completed_units"})

In [50]:
housing_inventory.head()

,REF_DATE,GEO,Completed_units,Dwelling_Type,UNIT_VALUE
7,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Single detached units,74
8,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Semi-detached units,3
10,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Single detached units,64
11,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Semi-detached units,2
13,1988-06,"Barrie, Ontario",Absorptions,Single detached units,84

In [51]:
housing_inventory=housing_inventory.dropna()

In [52]:
housing_inventory=housing_inventory[housing_inventory.Dwelling_Type!="Total units"]

In [53]:
housing_inventory.head()

,REF_DATE,GEO,Completed_units,Dwelling_Type,UNIT_VALUE
7,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Single detached units,74
8,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Semi-detached units,3
10,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Single detached units,64
11,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Semi-detached units,2
13,1988-06,"Barrie, Ontario",Absorptions,Single detached units,84

In [54]:
housing_inventory["GEO"].nunique()

36

In [55]:
housing_inventory=housing_inventory[housing_inventory.GEO!="Census metropolitan areas"]

In [56]:
housing_inventory.head()

,REF_DATE,GEO,Completed_units,Dwelling_Type,UNIT_VALUE
7,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Single detached units,74
8,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Semi-detached units,3
10,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Single detached units,64
11,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Semi-detached units,2
13,1988-06,"Barrie, Ontario",Absorptions,Single detached units,84

In [57]:
housing_inventory.reset_index()

,index,REF_DATE,GEO,Completed_units,Dwelling_Type,UNIT_VALUE
0,7,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Single detached units,74
1,8,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Semi-detached units,3
2,10,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Single detached units,64
3,11,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Semi-detached units,2
4,13,1988-06,"Barrie, Ontario",Absorptions,Single detached units,84
...,...,...,...,...,...,...
54035,83369,2020-07,"Windsor, Ontario",Unabsorbed inventory,Semi-detached units,28
54036,83371,2020-07,"Winnipeg, Manitoba",Absorptions,Single detached units,185
54037,83372,2020-07,"Winnipeg, Manitoba",Absorptions,Semi-detached units,13
54038,83374,2020-07,"Winnipeg, Manitoba",Unabsorbed inventory,Single detached units,226
54039,83375,2020-07,"Winnipeg, Manitoba",Unabsorbed inventory,Semi-detached units,31

In [58]:
housing_inventory["GEO"].astype("str")

7        Abbotsford-Mission, British Columbia
8        Abbotsford-Mission, British Columbia
10       Abbotsford-Mission, British Columbia
11       Abbotsford-Mission, British Columbia
13                            Barrie, Ontario
                         ...
83369                        Windsor, Ontario
83371                      Winnipeg, Manitoba
83372                      Winnipeg, Manitoba
83374                      Winnipeg, Manitoba
83375                      Winnipeg, Manitoba
Name: GEO, Length: 54040, dtype: object

In [59]:
df=housing_inventory.GEO.str.split(", ",expand=True,)
df.head()

                     0                 1     2
7   Abbotsford-Mission  British Columbia  None
8   Abbotsford-Mission  British Columbia  None
10  Abbotsford-Mission  British Columbia  None
11  Abbotsford-Mission  British Columbia  None
13              Barrie           Ontario  None

In [60]:
df_2=pd.concat([housing_inventory,df], axis=1)

In [61]:
df_2.columns.tolist()

['REF_DATE', 'GEO', 'Completed_units', 'Dwelling_Type', 'UNIT_VALUE', 0, 1, 2]

In [62]:
df_2 = df_2.rename(columns = {0:"City",1:"Province"})
df_2.head()

,REF_DATE,GEO,Completed_units,Dwelling_Type,UNIT_VALUE,City,Province,2
7,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Single detached units,74,Abbotsford-Mission,British Columbia,None
8,1988-06,"Abbotsford-Mission, British Columbia",Absorptions,Semi-detached units,3,Abbotsford-Mission,British Columbia,None
10,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Single detached units,64,Abbotsford-Mission,British Columbia,None
11,1988-06,"Abbotsford-Mission, British Columbia",Unabsorbed inventory,Semi-detached units,2,Abbotsford-Mission,British Columbia,None
13,1988-06,"Barrie, Ontario",Absorptions,Single detached units,84,Barrie,Ontario,None

In [63]:
df_2=df_2.drop(columns={2,'GEO'})
df_2.head()

,REF_DATE,Completed_units,Dwelling_Type,UNIT_VALUE,City,Province
7,1988-06,Absorptions,Single detached units,74,Abbotsford-Mission,British Columbia
8,1988-06,Absorptions,Semi-detached units,3,Abbotsford-Mission,British Columbia
10,1988-06,Unabsorbed inventory,Single detached units,64,Abbotsford-Mission,British Columbia
11,1988-06,Unabsorbed inventory,Semi-detached units,2,Abbotsford-Mission,British Columbia
13,1988-06,Absorptions,Single detached units,84,Barrie,Ontario

In [64]:
cols=['REF_DATE','City','Province','Completed_units','Dwelling_Type','UNIT_VALUE']
df_2=df_2[cols]
df_2.head()

,REF_DATE,City,Province,Completed_units,Dwelling_Type,UNIT_VALUE
7,1988-06,Abbotsford-Mission,British Columbia,Absorptions,Single detached units,74
8,1988-06,Abbotsford-Mission,British Columbia,Absorptions,Semi-detached units,3
10,1988-06,Abbotsford-Mission,British Columbia,Unabsorbed inventory,Single detached units,64
11,1988-06,Abbotsford-Mission,British Columbia,Unabsorbed inventory,Semi-detached units,2
13,1988-06,Barrie,Ontario,Absorptions,Single detached units,84

In [65]:
df_2=df_2.reset_index(drop=True)
df_2.head()

,REF_DATE,City,Province,Completed_units,Dwelling_Type,UNIT_VALUE
0,1988-06,Abbotsford-Mission,British Columbia,Absorptions,Single detached units,74
1,1988-06,Abbotsford-Mission,British Columbia,Absorptions,Semi-detached units,3
2,1988-06,Abbotsford-Mission,British Columbia,Unabsorbed inventory,Single detached units,64
3,1988-06,Abbotsford-Mission,British Columbia,Unabsorbed inventory,Semi-detached units,2
4,1988-06,Barrie,Ontario,Absorptions,Single detached units,84

In [68]:
df_2.index.names=["inventory_index"]

In [72]:
df_2.to_csv("../Resources/Housing_inventory_clean.csv",index=True)